<div class="modal-body row">
  <div class="col-md-6" id = "left">
    <div class = "row">
    <div class = "col-md-5">
      <img ng-src = " {{ path1 }} " alt="" class=" img_width">
    </div>
    <div class="col-md-7">
      <table class = "table">
        <tr>
          <td > <h5 ng-mouseover="myCssVar1='css-class1'" ng-class="myCssVar1" ng-mouseleave="myCssVar1 = ''"> {{ name1 }} </h5> </td>
          
        
      </table>
      </div>
  </div>
    <div class="row btn_margin">
      <button class=" btn btn-primary col-sm-offset-1" align = "center"> Profile</button>
    </div> 
  </div>
  <div class="col-md-6" id = "right">
    <div class="row">
    <div class="col-md-5">
      <img ng-src = " {{ path2 }}  " alt="" class=" img_width">
    </div>
    <div class="col-md-7">
      <table class = "table">
        <tr>
          <td> <h5 ng-mouseover="doc2='css-class1'" ng-class="doc2" ng-mouseleave="doc2 = ''"> {{ name2 }} </h5> </td>
          
        
      </table>
      </div>
    </div>
    <div class="row btn_margin">
      <button class=" btn btn-primary col-sm-offset-1" align = "center"> Profile</button>
    </div>
  </div>
</div>
