<div class="container">
  <h2>Query form</h2>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Name:</label>
      <div class="col-sm-5">
        <input type="email" class="form-control" id="email" placeholder="Enter name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Email:</label>
      <div class="col-sm-5">          
        <input type="email" class="form-control" id="pwd" placeholder="Enter email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="ph">Mobile:</label>
      <div class="col-sm-5">          
        <input type="tel" class="form-control" id="ph" placeholder="Enter Mobile Number">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="query">Your Query:</label>
      <div class="col-sm-5">          
        <textarea class="form-control" id="query" placeholder="Enter Your Query"></textarea> 
      </div>
    </div>
    
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-4">
        <button type="submit" class="btn btn-default btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>

