.ui-content {
    padding-top: 0 !important;   
}
.top-header {
padding: 5px;
  color:#fff;
  background-color : #616161;
 
}

.bor
{
  border: 1px solid black;
}

.page-header {
	margin: 0px 0 21px !important;
}
.footer {
	padding: 5px !important;
  color:#fff ;
  margin: 21px 0 21px !important;
  background-color : #616161;
    height: auto;
    bottom: fixed;
    bottom: 0;
}
.carousel_home {
	background-color: #303F9F;
  max-height: 100%;
  margin: 0 auto !important;
}

.carousel_home img{
  margin:auto;
  display: inline-block;
  width:33.33333333%;
}

.navbar_home {
  background-color: #9E9E9E;
}


.some-class
{
    border-left:1px solid #e2e2e2;
}
#right{
border-left:1px solid #e2e2e2;
height: 400px;
}
#left{
height: 400px;
}

.btn_margin {
  margin: 10px;
}
.img_width {
  height: 200px;
  width: 200px;
}

.reveal-animation {
    transition: all 1s;
}

.reveal-animation.ng-enter {
opacity:1;
}

.reveal-animation.ng-enter.ng-enter-active {
opacity:0;
}
.reveal-animation.ng-leave {
opacity:0;

}
.reveal-animation.ng-leave.ng-leave-active {
opacity:1;
}

.reveal-animation:hover {
  opacity: 0.5;
}
.css-class-add, .css-class-remove , .css-class:hover {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.css-class,
.css-class-add.css-class-add-active {
  font-size:3em;
}

.css-class1-add, .css-class1-remove , .css-class1:hover {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.css-class1,
.css-class1-add.css-class1-add-active {
  font-size:2em;
}

.slide {
    position: relative;
    width: 100%;
    height: 100%;
}
.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.slide.ng-enter {
    left: 100%;
}
.slide.ng-enter-active {
    left: 0;
}
.slide.ng-leave {
    display:none;
    left: 0;
}
.slide.ng-leave-active {
    left: -100%;
}
.ng-trans.ng-animate {
  position: absolute;
}

.ng-trans.ng-animate ~ .ng-trans.ng-animate {
  position: relative;
}